
@{
    ViewData["Title"] = "Home Page";
}

<h2>Welcome to the Titles Management System</h2>

<div class="mt-4">
    <a asp-controller="Authors" asp-action="Index" class="btn btn-primary m-2">
        Authors
    </a>

    <a asp-controller="Titles" asp-action="Index" class="btn btn-success m-2">
        Titles
    </a>

    <a asp-controller="Publishers" asp-action="Index" class="btn btn-info m-2">
        Publishers
    </a>
</div>
